<div id="hp-signup-form">
  <%= form_for(@profile) do |f| %>
  <div class="form-group" id="hp-input-fields">
    <% if @profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

        <ul>
        <% @profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <%= best_in_place @profile, :fname, tabindex: "1" %>
    <br>
    <%= best_in_place @profile, :lname, tabindex: "1" %>
  </div>
  <% end %>
</div>
