<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @profile.fname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.lname %>
</p>

<p>
  <strong>username:</strong>
  <%= @profile.user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.user.email %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
