<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <!--
    <nav class="navbar navbar-default navbar-static-top" id="hp-navbar">
      <div class="container-fluid" >
          <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <%=image_tag("logo.jpg", :alt =>"logo")%> 
              </a>
          </div>
      </div>
    </nav> -->

    <div class="jumbotron" id = "hp-main-jumbotron">
      <div class="container">
        <!-- <div><%=image_tag("logo.jpg", :alt =>"logo")%> </div> -->
        <div class="row">
          <div class="col-md-4" id="hp-signup-form">
            <h2>فرم ثبت‌نام</h2>
            <form>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, :placeholder => :'پست الکترونیکی' ,:class => 'form-control' %>
                </div>
                <div class="form-group"> 
                  <%= f.password_field :password, autocomplete: "off", :placeholder =>:'گذرواژه',:class => 'form-control' %>
                  <br>
                  <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder =>:'تکرار گذرواژه' ,:class => 'form-control' %>
                </div>
                <div class="form-group help-block">
                  <% if @validatable %><i id="hp-password-text">( گذرواژه حداقل به طول <%= @minimum_password_length %> و شامل عدد، حروف بزرگ و کوچک باشد)</i><% end %><br/>
                </div>
                
                <div class="form-inline form-group">
                  <input id="date_input_1" class="form-control" placeholder="تاریخ تولد: yyyy-mm-dd" type="text"/>
                  <%= image_tag("cal.png",:id=>"date_btn_1" ) %>
                  <%= javascript_include_tag ("cal.js")%>
                </div>
                <div class="form-group" id="hp-captcha">
                  <%= recaptcha_tags %>
                </div>
                <div>
                  <%= f.submit "ثبت نام", :class=>"btn btn-default btn-block" ,:id=>"hp-signup-btn"%>
                </div>
              <% end %>
              <div id= "hp-links">
		            <%= render "devise/shared/links" %>
              </div>
            </form>
          </div>
          <div class = "col-md-8  hp-intro-jumbotron jumbotron" id="hp-intro-jumbotron">
            <div class = "transparent" id="hp-transparent-box">
              <div id="hp-intro-text-box">
                <br>
                <h2 id="hp-intro-head">
                  اسم فامیل آنلاین
                </h2>
                <p>
    اسم فامیل قسمتی از خاطرات کودکی همه ماست و تجربه این بازی در بزرگسالی یک حس زیبا و نوستالژیک غیر قابل وصف است. این وب سایت به شما کمک می کند تا با دوستان دوران کودکی خود که اکنون شاید هزاران کیلومتر با شما فاصله دارند، دوباره به انجام این بازی بپردازید.
    <br>
    اسم فامیل قسمتی از خاطرات کودکی همه ماست و تجربه این بازی در بزرگسالی یک حس زیبا و نوستالژیک غیر قابل وصف است. این وب سایت به شما کمک می کند تا با دوستان دوران کودکی خود که اکنون شاید هزاران کیلومتر با شما فاصله دارند، دوباره به انجام این بازی بپردازید.

                </p>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>



