<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <link href="/assets/myfavicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <body>
    <!--
    <nav class="navbar navbar-default navbar-static-top" id="hp-navbar">
      <div class="container-fluid" >
          <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <%=image_tag("logo.jpg", :alt =>"logo")%> 
              </a>
          </div>
      </div>
    </nav> -->



    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="jumbotron" id = "hp-main-jumbotron">
      <div class="container">
        <!-- <div><%=image_tag("logo.jpg", :alt =>"logo")%> </div> -->
        <div class="row">
          <div class="col-md-4" id="hp-signup-form">
            <h2 id="hp-signup-form-head">فرم ثبت‌نام</h2>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <!--inja > -->     
                
                <div class="form-group input-group" id="hp-input-fields">
                  <% devise_error_messages! %>

                  <%= f.email_field :email ,autofocus: true, :placeholder => :'پست الکترونیکی' ,:class => 'form-control', 'aria-describedby'=>'basic-addon2', :id=>'hp-inner-input-fields' %>
                  <span class="input-group-addon" id="basic-addon2">
                    <span class="glyphicon glyphicon-star-empty" ></span>
                  </span>
                </div>

                <div class="form-group  input-group" id="hp-input-fields"> 
                  <%= f.password_field :password, autocomplete: "off", :placeholder =>:'*گذرواژه',:class => 'form-control','aria-describedby'=>'basic-addon2', :id=>'hp-inner-input-fields' %>
                  <span class="input-group-addon" id="basic-addon2">
                    <span class="glyphicon glyphicon-star-empty" ></span>
                  </span>
                </div>

                <div class="form-group  input-group" id="hp-input-fields">
                  <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder =>:'*تکرار گذرواژه' ,:class => 'form-control', :id=>'hp-inner-input-fields' %>
                  <span class="input-group-addon" id="basic-addon2">
                    <span class="glyphicon glyphicon-star-empty" ></span>
                  </span>
                </div>

                <div class="form-group help-block" id="hp-input-fields">
                  <% if @validatable %><i id="hp-password-text">( گذرواژه حداقل به طول <%= @minimum_password_length %> و شامل عدد، حروف بزرگ و کوچک باشد)</i><% end %><br/>
                </div>

                <div class="form-group input-group" id="hp-input-fields">
                  <%= f.text_field :username, :placeholder => :'نام مستعار' ,:class => 'form-control', :id=>'hp-inner-input-fields' %>
                  <span class="input-group-addon" id="basic-addon2">
                    <span class="glyphicon glyphicon-star-empty" ></span>
                  </span>
                </div>



                <!--
                <%= select :dolaki, :alaki, ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31' ].map{|c| [c, "#{c}"]}, {}, {class: 'form-control'} %>

                <%= select :dolaki, :alaki, ['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند'].map{|c| [c, "#{c}"]}, {}, {class: 'form-control'} %>

                <%= select :dolaki, :alaki, ['public', 'private'].map{|c| [c, "#{c}"]}, {}, {class: 'form-control'} %>
                </div>
                -->
                <div >
                  <div class="container" id="hp-date-fields-container">
                    <m>
                      <span class="glyphicon glyphicon-star-empty" ></span>
تاریخ تولد:
                    </m>
                    <br>
                    <div class="row">
                        <% persian_month_names = ['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر', 'دی', 'بهمن', 'اسفند'] %>
                        <%= select_year(1300, {start_year: 1300, end_year: 1400}, {class:"col-md-5"}) %>
                        <%= select_month(1,{use_month_names: persian_month_names}, {class:"col-md-5"}) %>
                        <%= select_day(1, {class:"col-md-2"}) %>
                    </div>
                  </div>
                 </div>


                <% if flash[:alert] %>
                    <div class="alert alert-danger" role="alert">
                      <%= flash[:alert] %>
                    </div>
                <% end %>
                <div class="container">
                  <div class = "row">
                    <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                        <%= show_simple_captcha(:label => "",:class => 'test') %>
                    </div>
                  </div>
                </div>

                <div>
                  <%= f.submit "ثبت نام", :class=>"btn btn-default btn-block" ,:id=>"hp-signup-btn"%>
                </div>
              <% end %>
              <div id= "hp-links">

		            <%= render "devise/shared/links" %>
              </div>
          </div>
          <div class = "col-md-8  hp-intro-jumbotron jumbotron" id="hp-intro-jumbotron">
            <div class = "transparent" id="hp-transparent-box">
              <div id="hp-intro-text-box">
                <br>
                <h2 id="hp-intro-head">
                  اسم فامیل آنلاین
                </h2>

                <p>
                <div class="yekan-font">
                  <div class="font-medium">
    اسم فامیل قسمتی از خاطرات کودکی همه ماست و تجربه این بازی در بزرگسالی یک حس زیبا و نوستالژیک غیر قابل وصف است. این وب سایت به شما کمک می کند تا با دوستان دوران کودکی خود که اکنون شاید هزاران کیلومتر با شما فاصله دارند، دوباره به انجام این بازی بپردازید.
    <br>
    اسم فامیل قسمتی از خاطرات کودکی همه ماست و تجربه این بازی در بزرگسالی یک حس زیبا و نوستالژیک غیر قابل وصف است. این وب سایت به شما کمک می کند تا با دوستان دوران کودکی خود که اکنون شاید هزاران کیلومتر با شما فاصله دارند، دوباره به انجام این بازی بپردازید.

                  </div>
                </div>
                </p>

                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </body>
</html>



