<%= favicon_link_tag %>
<div class="row">
  <div class="col-md-2 info-list-box">
    <div class="list-header">
      <%= I18n.t("sum") %>
    </div>
    <table class="list-table">
      <tr class="list-row">
        <td class="list-dray">
          <%= I18n.t("my_badge") %>
        </td>
        <td class="list-dray-info">
          <strong>
            <%= I18n.t("expert") %>
          </strong>
        </td>
      </tr>
      <tr class="list-row">
        <td class="list-dray">
          <%= link_to I18n.t("my_rooms"), "#" %>
        </td>
        <td class="list-dray-info">
          <%= Room.where(:admin => current_user.profile).count %>
        </td>
      </tr>
      <tr class="list-row">
        <td class="list-dray">
          <%= link_to I18n.t("my_friends"), "#" %>
        </td>
        <td class="list-dray-info">
          18
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <div class="challenge-list-box">
      <div class="list-header">
        <%= I18n.t("challenges") %>
      </div>
      <div class="list-row">
        <div class="new-btn">
          <%= link_to I18n.t("make_new_room"), new_room_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 room-list-box">
    <div class="list-header">

      <%= I18n.t("rooms") %>
    </div>

    <table class="list-table">
      <% Room.all.each do |r| %>
          <tr class="list-row">
            <td class="list-dray"><%= link_to r.name, r %> </td>
            <td class="room-capacity">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-inverse fa-stack-1x" style="font-size: 14px"><%= r.capacity %></i>
              </span>
            </td>
            <td class="room-privacy"><span class="fa fa-lock fa-2x room-unavailable"></span></td>
          </tr>

      <% end %>
    </table>
  </div>
  <div class="col-md-3 user-list-box">
    <div class="list-header">

      <%= I18n.t("users_rank") %>
    </div>
    <table class="list-table">
      <% Profile.order(total_score: :desc).each do |u| %>
          <tr class="list-row">
            <td class="list-dray"><%= u.user.username %></td>
            <td><span class="fa fa-circle fa-2x user-online">
              <%= u.total_score %>
            </span></td>
          </tr>


      <% end %>
    </table>
  </div>
</div>
