<!--
<% if flash[:notice] %>-->
    <!--<div class="alert alert-success" role="alert">-->
    <!--<%= flash[:notice] %>-->
    <!--</div>-->
    <!--
<% end %>-->



<div class="row">
  <div class="col-md-9">
    <div class="left-pad-wrapper">
      <div class="col-md-3 room-generator-pad">
        <!--<div class="room-generator-container">-->
          <div class="room-generator-info">
            <%= link_to new_room_path do %>
                <h2>
                  همین الان
                </h2>

                <h2><strong>
                  یک اتاق بازی
                </strong>
                </h2>

                <h2>
                  بساز!
                </h2>
            <% end %>
          </div>
        <!--</div>-->

      </div>

      <div class="col-md-9" >


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <!--<img src="..." alt="...">-->
              <%=image_tag 'esmfamil.png' %>
              <div class="carousel-caption">
                یک عکس زیبا
              </div>
            </div>
            <div class="item">
              <%=image_tag 'esmfamil.png' %>
              <div class="carousel-caption">
                عکسی زیبا‌تر
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="fa fa-angle-double-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="fa fa-angle-double-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="right-pad-wrapper">
      <div class="info-header">
        <%= I18n.t("information") %>
      </div>
      <table class="user-list-table">
        <thead>
        <tr class="user-list-header">
          <th class="user-header">
            <%= I18n.t("users") %>
          </th>
          <th class="online-header">
            <span class="fa fa-user fa-2x"></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <% User.all.each do |u| %>
            <tr class="user-list-row">
              <td class="user-list-dray"><%= u.username %></td>
              <td><span class="fa fa-circle fa-2x user-online"></span></td>
            </tr>

        <% end %>
        </tbody>
      </table>
      <hr>
      <table class="room-list-table">
        <thead>
        <tr class="room-list-header">
          <th class="room-header">
            <%= I18n.t("rooms") %>
          </th>
          <th class="room-capacity">
            <span class="fa fa-group fa-2x"></span>
          </th>
          <th class="room-privacy">
            <span class="fa fa-lock fa-2x"></span>
          </th>
        </tr>
        </thead>
        <tbody>
        <% Room.all.each do |r| %>
            <tr class="room-list-row">
              <td class="room-list-dray"><%= r.name %></td>
              <td>
                <!--<span class="fa fa-circle room-available"> 4</span>-->
                <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-inverse fa-stack-1x" style="font-size: 14px"><%= r.capacity %></i>
    </span>
              </td>
              <td><span class="fa fa-check fa-2x room-unavailable"></span></td>
            </tr>

        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>