<div class = "container-fluid">
  <div class = "row">

        <%= form_for game, url: {action: 'show'}, remote: true do |f| %>
		<% if game.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= pluralize(game.errors.count, "error") %> prohibited this room from being saved:</h2>
	        <ul>
	          <% game.errors.full_messages.each do |message| %>
	            <li><%= message %></li>
	          <% end %>
	        </ul>
	      </div>
    	<% end %>

        <div class = "table-responsive">
          <table class="table">
            <thead>
            <tr>
             <% game.item_names.each do |item_name| %>
              <th>
                <%= f.label item_name %>
              </th>
              <% end %>
            </tr>
            </thead>

            <tbody>
            <tr>
              <% game.item_names.each do |item_name| %>
              <td>
                <%= text_field_tag "paper.item_values["+item_name+"]",paper.item_values[item_name] , autofocus: true  %>
                <!--<%#= best_in_place game, :stopped %>-->
                <!--<%#= best_in_place paper.item_values[item_name], paper.item_values[item_name] , autofocus: true  %>-->
              </td>
              <% end %>
            </tr>
            </tbody>
        </table>
        </div>

        </div>
		<div class="new-room-list-box">
	        <div class="list-row">
	          <div class="new-btn">
	            <%= f.submit 'استپ!',:class=>"btn btn-block light-orange"  %>
	          </div>
	        </div>
      	</div>
    <%end%>

</div>
<!--<%#= text_field_tag "paper.item_values["+item_name+"]",paper.item_values[item_name] , autofocus: true  %> -->