<div class="judgment-list-box jumbotron">

       <table class="table">
         <thead>

         </thead>
         <tbody>
         <div class = "list-header">
             <td><%=I18n.t("field") %></td>
             <td><%=I18n.t("judgment1") %></td>
             <td><%=I18n.t("judgment2") %></td>
             <td><%=I18n.t("judgment1") %></td>
             <td><%=I18n.t("judgment2") %></td>
         </div>
         <%@my_judgment_fields.each do |row|%>
         <tr>
           <td><%=row[0] %></td>

           <%row[1].each do |r|%>
            <td><%= r.value %>
              <%if ((r.first_accept == nil and r.first_judge == current_user.profile) or (r.second_accept == nil and r.second_judge == current_user.profile))%>
                  <td id="q_pf_<%=r.id%>">
                    <%= link_to "",{:controller => :games, :action => "accept_field", :p_id => r.paper.id, :pf_id=>r.id}, :remote => true, :class => "btn btn-circle-micro btn-success"  %>
                    <%= link_to "",{:controller => :games, :action => "reject_field", :p_id => r.paper.id, :pf_id=>r.id}, :remote => true, :class => "btn btn-circle-micro btn-danger" %>

                    </td>

                      <% else %>
               <td id="q_pf_#{r.id}">
                 داوری‌شده
                   </td>

               <%end%>

           <%end%>
         </tr>
         <%end%>
         </tbody>
       </table>



</div>