<div class="game-show-list-box jumbotron">
    <div class = "list-header row">
        <div class="col-md-6">
        حرف بازی: <%= @game.letter %>
        </div>
        <div class="col-md-6">
        زمان بازی: <%= @game.start_time.to_date.to_jalali %>
        </div>
    </div>


    <div class = "list-main row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <table class="list-table">

              <tr>
                <th class="list-table-th"> <%=t :username %><td>
                <% @game.item_names.each do |item| %>
                    <th class="list-table-th"><%=item%></td>
                <%end%>
                <th class="list-table-th"> <%=t :total_score %> <td>
              </tr>
                <% @game.papers.each do |p| %>
                  <tr>
                    <td class="list-table-td"> <%=p.owner.user.username%> <td>
                    <%p.paper_fields.each do |pf| %>
                        <td class="list-table-td"><%=pf.value.to_s + " : " + pf.score.to_s%> </td>
                    <%end%>
                    <td class="list-table-td"> <%=p.score%><td>
                  </tr>
                <%end%>
              </table>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    
          
    <div class = "list-row">
        <%= link_to 'بازگشت', @game.room %>
    </div>
</div>