<div class="game-show-list-box jumbotron">
     <div class = "list-header  ">
       
       <% if @game.is_running %>
      بازی در حال اجراست، با حرف <%= @game.letter %>
      <%elsif @game.is_stopped && @game.is_judged%>
       بازی تمام شده‌است!
      <%end%>
 
       <br>

      <% if @game.is_running %>

        <%= render :partial => 'games/paper' , :locals => {:game => @game , :paper => @paper} %>
            <% end %>
    </div>

  <% if @game.is_running %>
  <div class = "list-row">
    <%= link_to 'پایان', :action => :end_game, :controller => :games, :id => @game.id, remote: true %>

  </div>
       <% end %>
    <% if @game.is_stopped && !@game.is_judged %>
      <script type="text/javascript">
        window.location.href="judgement/<%=@game.id%>"  
      </script>
    <%end%>
  <div class = "list-row">
    <%= link_to 'بازگشت', @game.room %>
  </div>
</div>



<script type="text/javascript">

    window.client.subscribe('/games/end_game/<%=@game.id%>', function (payload) {
        window.location.reload();
    });
</script>

