<div id="hp-signup-form">
  <%= form_for(@room) do |f| %>
    <div class="form-group" id="hp-input-fields">
    <% if @room.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>
        <ul>
          <% @room.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group" id="hp-input-fields">
      <div class="row">
        <div class="col-md-8 list-row adaptable_font">
          <div class="font-small">
            <%= f.text_field :name, autofocus: true , :placeholder => :'نام اتاق' ,:class => 'form-control', :id=>'hp-inner-input-fields' %>
          </div>
        </div>
        <div class="col-md-4 adaptable_font">
          <div class="font-medium font-color-red">
            <%= f.label :capacity,I18n.t("room_name"), :class =>'cap-num' %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group " id="hp-input-fields ">
      <div class="row ">
        <div class="list-row adaptable_font col-md-8">
          <%= f.number_field :capacity,:class => 'form-control', :id=>'hp-inner-input-fields' %>
        </div>
        <div class="col-md-4 adaptable_font">
          <div class="font-medium font-color-red">
            <%= f.label :capacity,'ظرفیت اتاق', :class =>'cap-num' %>
          </div>
        </div>
      </div>
    </div>
      <div class="new-room-list-box">
        <div class="list-row">
          <div class="new-btn">
            <%= f.submit 'بساز',:class=>"btn  btn-block light-orange"  %>
          </div>
        </div>
      </div>
  </div>
  <% end %>
</div>