<tr id="tr_<%=game.id%>">
  <td><%= game.title %></td>

  <% if game.is_stopped%>
  	<td>بازی تمام شده</td>
  	<td><%= link_to 'مشاهده‌ی بازی' , "/rooms/#{@room.id}/games/#{game.id}",:method => :get%></td>

  <% elsif game.is_starting%>
  	<td>بازی در حال شروع شدن است</td>
  	<td>
  		<script>
	        $(function () {
	          var finishTime = new Date("<%=game.start_time%>");
	          
	          // finishTime = finishTime + (finishTime.getSeconds() + 50)
	          $("#game_start_count_down<%=game.id%>").countdown({until: finishTime,  expiryUrl: "<%="/rooms/#{@room.id}/games/#{game.id}"%>" ,
	          format: 'S'});
	        });
      	</script>
      <div id="game_start_count_down<%=game.id%>"></div>
  	</td>	


  <% elsif game.is_running%>
  	<td>بازی در حال انجام است</td>
  	<td>
        <script type="text/javascript">
          window.location.href="<%="/rooms/#{@room.id}/games/#{game.id}"%>"  // put your correct path in a string here
        </script>
  	</td>

  
  <% else %>
  	<td>بازی شروع نشده </td>
  	<td><%= link_to 'شروع بازی' , "/rooms/#{@room.id}/games/#{game.id}/start",:method => :post, :remote => true%></td>
  <% end %>

</tr>