<div class="jumbotron room-list-container" >
  <div class="container rooms-list-box">
    <div class="list-header">
    <h2 >
      <%= I18n.t("rooms_list") %>
    </h2>
    </div>
    <br>
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <td id="table-header"><h4> <%= I18n.t("room_name") %> </h4></td>
            <td id="table-header"><h4> <%= I18n.t("room_admin") %> </h4></td>
            <td id="table-header"><h4> <%= I18n.t("room_capacity") %> </h4></td>
            <td id="table-header"><h4> <%= I18n.t("room_enable") %> </h4></td>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr  >
              <td>
                <div class="adaptable_font centered-align">
                  <%= link_to room.name, room %>
                </div>
              </td>
              <td>
                <div class="adaptable_font centered-align">
                    <%= room.admin.user.username %>
                </div>
              <td>
                <div class="adaptable_font centered-align">
                    <%= room.capacity %>
                </div>
              </td>
              <td>
              <%if room.enabled? %>
                
                  <div class="adaptable_font centered-align">
                    <%= I18n.t("room_is_enable") %>
                  </div>
                <% else %>
                  <div class="adaptable_font centered-align">
                    <%= I18n.t("room_not_enable") %>
                  </div>
                  
                <%end%>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6">
            <div class="new-btn adaptable_font ">
                <%= button_to 'ایجاد اتاق جدید', new_room_path , { :method => "get",:class => "btn  btn-block sharp-orange", :id=>"orange"}%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-offset-6"></div>

  </div>
    </div>
</div>
