<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @room.admin.username %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @room.enabled %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
<%= link_to 'Destroy', @room, method: :delete, data: { confirm: 'Are you sure?' } %>