<%= javascript_include_tag "jquery.plugin" %>
<%= javascript_include_tag "jquery.countdown" %>
<%= javascript_include_tag "jquery.countdown-fa" %>
<div class="jumbotron room-features-list-box" >
  <div class="container ">
    <div class="row">
      <div class = "list-header">
        مشخصات اتاق
      </div>
      <div class="well  " id="room-well">
        <div class="row adaptable_font">
          <div class="col-md-3 font-medium">
            اتاق فعال
            <% if @room.enabled? %>
                است
           <% else %>
                نیست
            <% end %>
          </div>
          <div class="col-md-3 font-medium">
            ظرفیت اتاق: <%= @room.capacity %> نفر
          </div>
          <div class="col-md-3 font-medium">
            مدیر اتاق: <%= @room.admin.user.username %>
          </div>
          <div class="col-md-3 font-medium">
            نام اتاق: <%= @room.name %>
          </div>
        </div>
        <div class="row adaptable_font">
          <div class="col-md-4"></div>
          <div class="col-md-4 font-medium">
            اتاق
            <% if @room.is_private? %>
                خصوصی
            <% else %>
                عمومی
            <% end %>
            است
          </div>
          <div class="col-md-4"></div>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-4">
        <div class = "list-table" id="room_links">
          <div class = "list-row">
            <%= link_to 'بازگشت به لیست اتاق‌ها', rooms_path, method: :get, :class => "" %>
            </div>
            <% if !(@room.players.include? current_user.profile ) %>
          <div class = "list-row" id="add_to_room_link">
            <%= link_to 'مرا به این اتاق اضافه کن', join_room_path(@room), :method => :patch, :remote => true %>

          </div>
          <%elsif current_user.profile.id !=  @room.admin.id%>
            <div class = "list-row" id="leave_the_room_link">
              <%= link_to 'مرا از اتاق حذف کن', "/rooms/#{@room.id}/leave",
                    :confirm => 'آیا مطمئن هستید?', :method => :delete, :remote => true, :class => "kick-out-link" %>
            </div>
          <%end%>


          <% if current_user.id == @room.admin.user.id %>
            <div class = "list-row">
                  <%= link_to 'این اتاق را حذف کن', @room, method: :delete, data: {confirm: 'مطمئن هستید؟'}%>

            </div>
              <div class = "list-row">
                  <%= link_to 'ایجاد بازی' , "/rooms/#{@room.id}/game/new",:method => :get%>
                
              </div>
              
              <% if @room.is_private %>              
               <div class = "list-row">
               <%=  form_tag user_search_path , :method => 'get', :id =>'user_search', :remote => true do %>
                  <%= hidden_field_tag :room_id , @room.id %>
                 <%=  text_field_tag :query , params[:query], :placeholder => 'نام کاربری یا ایمیل کاربر را وارد کنید' %>
                 <%= submit_tag "بیاب" , :name =>nil %>
                 <%#= render 'search_result' %>
                <%end%>
                <div id="user-search-result">

                </div>

               </div>
               <%end%>

          <% end %>
        </div>
      </div>
      <div class="col-md-4"> 
        <div class="panel panel-primary panel-default" >
          <div class="panel-heading panel-heading-custom">لیست بازی‌های اتاق (<%= @room.games.size %> بازی)</div>
          <div class="panel-body">
            <% if @room.games.size > 0 %>
                <table class="table table-hover table-striped">
                  <tbody id="room_tbody_games_<%=@room.id%>">
                    <% @room.games.each do |game| %>
                        <%= render :partial => 'rooms/game', :locals => {:room => @room, :game => game} %>
                    <% end %>
                  </tbody>
                </table>
                
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary panel-default" >
          <div class="panel-heading panel-heading-custom">لیست اعضای اتاق (<%= @room.players.size %> نفر)</div>
          <div class="panel-body">
            <% if @room.players.size > 0 %>
                <table class="table table-hover table-striped">
                  <tbody id="room_tbody_players_<%=@room.id%>">
                  <% @room.players.each do |player| %>
                        <%= render :partial => 'rooms/member', :locals => {:room => @room, :player => player} %>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
          </div>
        </div>
      </div>

      </div>


    </div>
  </div>
</div>



<%= %>
<!--link_to 'Add to this room', {:controller => :rooms, :action => :add_member, :room_id => @room.id.to_s, :profile_id => current_user.profile.id.to_s, :method => :patch} %>-->

<script type="text/javascript">

    window.client.subscribe('/rooms/<%=@room.id%>', function (payload) {
        if (payload.action == 'kick'){
          var element = $('#tr_'+payload.player_id);
          element.remove();
          if(payload.player_id == "<%= current_user.profile.id.to_s %>"){
            $(".not_running_games").hide();
            if(!$("#add_to_room_link").length){
              $("#room_links").append(
              "<div class = 'list-row' id='add_to_room_link'>"
              + " <a class='kick-out-link' data-method='patch' data-remote='true' href='" + "<%=join_room_path(@room)%> " + "'  rel='nofollow'>مرا به این اتاق اضافه کن</a>" + 
              "</div>")
            }        
          }
        }
        else {
          <% if (current_user.profile.id == @room.admin.id) %>
            if (!$("tr_" + payload.player_id).length) {
              $("#room_tbody_players_<%=@room.id%>").append(" <tr id='tr_" + payload.player_id + "'>" +
                  "<td>" + payload.player_username + "</td>" +
                  "<td>" + "<a class='kick-out-link' confirm='آیا مطمئن هستید?' data-remote='true' data-method='delete' href='/rooms/<%=@room.id%>/kick_out/" + payload.player_id +  "' rel='nofollow'>حذف کاربر</a>" + "</td><tr>");
            }
          <% else %>
            if (!$('#tr_'+payload.player_id).length ) {
                $("#room_tbody_players_<%=@room.id%>").append(" <tr id='tr_" + payload.player_id + "'>" +
                  "<td>" + payload.player_username + "</td>" +
          "<td></td><tr>");
            }
             if(payload.player_id == "<%= current_user.profile.id.to_s %>"){
              $(".not_running_games").show();
              $("#add_to_room_link").remove();
              if(!$("#leave_the_room_link").length){
                $("#room_links").append(
              "<div class = 'list-row' id='leave_the_room_link'>"

              + " <a class='kick-out-link' data-method='delete' data-remote='true' href='" + "<%=leave_room_path(@room)%> " + "'  rel='nofollow'>مرا از اتاق حذف کن</a>" + 
              "</div>"
              );
              }
            
                 }         
          <% end %>
        
      }
    });
    window.client.subscribe('/games/create/<%=@room.id%>', function (payload) {
        window.location.reload();
    });
</script>
