<div class="jumbotron" id = "hp-main-jumbotron">
	<div class="container">
    <div class="row">
      <div class="well " id ="room-well">
        <div class= "row">
          <div class="col-md-2">
            <% if current_user.id == @room.admin.id  %>
            <%= button_to 'حذف اتاق', @room, method: :delete, data: { confirm: 'مطمئن هستید؟' } , :class=>"btn btn-default room-edit-btn"%>
            <%end%>
          </div>
  
          <div class="col-md-2">
            اتاق فعال
            <%if @room.enabled? %>
              است
            <% else %>
              نیست
            <%end%>
          </div>
          <div class="col-md-3">
            ظرفیت اتاق: <%= @room.capacity %> نفر
          </div>
          <div class="col-md-3">
            مدیر اتاق: <%= @room.admin.username %>
          </div>
          <div class="col-md-2">
            نام اتاق: <%= @room.name %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">سابقه‌ی بازی‌های اتاق</div>
          <div class="panel-body"></div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">گفت‌وگوها</div>
          <div class="panel-body"></div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
         <%= button_to 'لیست اتاق‌ها', rooms_path, method: :get, :class=>"btn btn-success"%>
         </div>
         <div class="col-md-4"></div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
  				<div class="panel-heading">لیست اعضای اتاق (<%= @room.players.size%> نفر)</div>
				  <table class="table table-hover table-striped">
            <tbody>
						  <% @room.players.each do |player| %>
							<tr>
                <td><h4><%=player.username%></h4> <h1> </h1> <%= link_to 'حذف کاربر', "/rooms/#{@room.id}/kick_out/#{player.id}",
            :confirm => 'آیا مطمئن هستید?', :method => :delete %></td>
              </tr>
						  <% end %>
            </tbody>
				  </table>
        </div>
      </div>
    </div>
  </div>
</div>
     
<!--
<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @room.admin.username %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @room.capacity %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @room.enabled %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
<%= link_to 'Destroy', @room, method: :delete, data: { confirm: 'Are you sure?' } %>

-->