<!DOCTYPE html>
<html>
<head>
  <title>EsmFamil</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render 'layouts/partials/navbar' %>

<div class="row main-row" >
  <div class="col-md-1 left-pad" ></div>
  <div class="col-md-10 main-container">
    <div class="above-space"></div>
    <div>
      <%= yield %>
    </div>
  </div>
  <div class="col-md-1 right-pad" ></div>
</div>



<%= render 'layouts/partials/footer' %>

</body>
<script language="javascript" type="text/javascript">
    $(function () {
        <% if notice %>
        new PNotify({
            text: '<%= notice %>',
            type: 'success',
//            styling: 'fontawesome',
            icon: false
            <% if I18n.locale.to_s == 'fa' %>, addclass: 'text-fa'
            <%end %>
        });
        <% end %>
        <% if alert %>
        new PNotify({
            text: '<%= alert %>',
            type: 'danger',
//            styling: 'fontawesome',
            icon: false
            <% if I18n.locale.to_s == 'fa' %>, addclass: 'text-fa'
            <%end %>
        });
        <% end %>
    });
</script>

</html>
